body {
  font-family: roboto, "sans-serif";
}
header {
  width: 100%;
  margin-top: 2vw;
}
h1 {
  display: inline;
  color: #d6000d;
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  padding: 70px;
}
@media screen and (max-width: 414px) {
  h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
    padding: 0.5rem;
  }
}
.ponto {
  color: #000000;
}
nav {
  margin: 2em 0;
}
nav ul {
  display: inline;
  position: absolute;
  right: 0;
}
.navbar {
  padding: 1em;
  display: inline;
  font-size: 1.5rem;
}
@media screen and (max-width: 414px) {
  nav {
    display: grid;
    grid-auto-columns: auto;
    margin: 0;
  }
  nav ul {
    display: inline;
    position: relative;
    text-align: center;
    margin-top: 1rem;
  }
  .navbar {
    font-size: 1rem;
  }
  .navbar--login {
    display: none;
    padding: 0px;
  }
}
a {
  color: #000000;
  text-decoration: none;
}
section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 70px;
}

.login {
  background-color: #d6000d;
  color: #fff;
  border-radius: 10px;
  border: none;
  padding: 1vw 4vw;
  font-weight: bold;
  font-size: 1.5rem;
}

.negocio {
  padding: 170px 0;
  column-gap: 4vw;
}
.solicitarOrcamento {
  padding-top: 70px;
}
.alavanque {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1vw;
}
.propaganda {
  color: #d6000d;
  font-weight: bold;
  font-size: 3rem;
}
.orcamento {
  background-color: #d6000d;
  color: #fff;
  border-radius: 10px;
  border: none;
  font-size: 1.5rem;
  padding: 1vw 4vw;
  font-weight: bold;
  margin: 2vw 0;
}
#video_call {
  width: 80%;
  display: inline;
  padding-left: 70px;
}
.itens {
  padding-top: 4vw;
  align-self: center;
  grid-row: 1;
}
.check {
  color: #d6000d;
  margin-right: 2vw;
  line-height: 0;
  font-size: 1.5rem;
}
.beneficio {
  display: block;
  margin: 2vw;
  font-size: 1.5rem;
}
#coding {
  width: 100%;
  grid-column: 2;
}
.formCelular {
  grid-column: span 2;
  padding-left: 70px;
}
.labelCelular {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2vw 0;
}
#celular {
  border-radius: 15px;
  border: none;
  font-size:1.5rem;
  padding: 2vw;
  background-color: #dcdcdc;
  width:40%;
  box-sizing: border-box;
  margin-right:1.5rem;
}
.ligacao {
  background-color: #d6000d;
  color: #fff;
  border-radius: 15px;
  border: none;
  font-size: 1.5rem;
  padding: 2vw;
  font-weight: bold;
  width: 40%;
}
.reviews {
  grid-gap: 2vw;
  padding-top: 170px;
  align-items: end;
}
.fa-circle {
  font-size: 70pt;
  color: #d6000d;
  padding-right: 2vw;
  padding-bottom: 2vw;
}
.depoimento {
  width: 90%;
  background-color: #dcdcdc;
  padding: 1vw;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1rem;
  border-radius: 15px;
}
.testemunha {
  font-size: 1.5rem;
  margin-top: 1vw;
}
.local-testemunha {
  font-weight: bold;
}
@media screen and (max-width: 414px) {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
  }
  .negocio {
    padding: 1.5rem;
  }
  #video_call {
    width: 50%;
    padding: 0;
  }
  .alavanque {
    font-size: 0.8rem;
  }
  .propaganda {
    font-size: 1.5rem;
  }
  .orcamento {
    font-size: 1rem;
    padding: 0.5rem;
    margin-top: 1.5rem;
    font-weight: normal;
  }
  .solicitarOrcamento {
    padding: 1.5rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  #coding {
    width: 50%;
  }
  .check {
    font-size: 1rem;
  }
  .beneficio {
    font-size: 1rem;
    line-height: 2rem;
  }
  .formulario {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .formCelular {
    padding: 1.5rem;
    align-self: center;
  }
  .labelCelular{
    font-size: 1rem;
    margin: 1rem;
  }
  #celular,.ligacao{
    display:block;
    border-radius: 5px;
    font-size: 1rem;
    margin: 1rem;
    width:80%;
  }
  .reviews{
    padding: 1.5rem;
  }
  .fa-circle{
    font-size: 3.5rem;
    padding: 1rem;
  }
  .depoimento{
    font-size: 0.9rem;
    padding: 1.3rem;
  }
  .testemunha{
    font-size: 1.5rem;
  }
}
span {
  display: block;
}
footer {
  background-color: #000000;
  color: #ffff;
  width: 100%;
}
.footer-conteudo {
  display: inline-flex;
  padding: 70px 0 70px 0;
  width: 100%;
}
.sobre {
  font-size: 1.5rem;
  flex-basis: 100%;
  margin-right:2rem;
}
.sobre-titulo{
  margin-left: 70px;
  font-size:1.5rem;
  margin-right: 2rem;
  white-space: nowrap;
}
.sobre p {
  padding-bottom: 1.5rem;
}
.email{
  text-decoration: underline;
}
.fab {
  color: #d6000d;
  font-size: 3rem;
  margin-left: 1vw;
}
h2 {
  margin: 0 auto;
  vertical-align: top;
  font-weight: bold;
  font-size: 3rem;
  font-style: italic;
}
h3 {
  margin: 0 auto;
  vertical-align: top;
  font-weight: bold;
  font-size: 2rem;
}
h2,
h3 {
  padding-bottom: 2vw;
}
@media screen and (max-width: 414px) {
  .footer-conteudo {
    flex-direction: column;
    justify-content: flex-end;
    padding:50px 0 50px 0;
  }
  .sobre-titulo{
    font-size: 1.5rem;
    align-self: center;
    text-align: center;
    margin: 3rem;
  }

  h2{
    font-size:3rem;
    align-self: center;
  }
  h3{
    font-size:1.5rem;
  }
  .sobre{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-left: 70px;
  }
  .fab{
    font-size: 3rem;
    margin: 1rem;
  }
}
